<launch>

	<include file="$(find race)/launch/rf2o_config.launch"/>

	<node pkg="robot_localization" type="ukf_localization_node" name="ekf_se" clear_params="true">
		<rosparam command="load" file="$(find race)/params/ekf_params.yaml"/>
	</node>

	<include file="$(find race)/launch/gmapping.launch"/>

	<node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
		<!--	<param name="SBPLLatticePlanner/primitive_filename" value="$(find race)/params/test.mprim"/>
		<param name="base_global_planner" value="SBPLLatticePlanner"/>
		<rosparam file="$(find race)/params/sbpl.yaml" command="load"/>
		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
		<rosparam file="$(find race)/params/teb_local_planner_params.yaml" command="load"/> -->
		<param name="base_global_planner" value="navfn/NavfnROS"/>
		<rosparam file="$(find race)/params/local_costmap_params.yaml" command="load"/>
		<rosparam file="$(find race)/params/global_costmap_params.yaml" command="load"/>
		<rosparam file="$(find race)/params/move_base_params.yaml" command="load"/>

	</node>

	<!-- L1 controller -->
	<node pkg="race" type="L1_controller_v2" respawn="false" name="L1_controller_v2" output="screen">
		<!-- L1 -->
		<param name="Vcmd" value="1.0" /> <!-- speed of car m/s -->
		<!-- ESC -->
		<param name="baseSpeed" value="1500"/> <!-- pwm for motor constant speed, 1480: stop, 1440: ~0.5m/s, 1430: ~1.5m/s -->
		<!-- Servo -->
		<param name="baseAngle" value="0.0"/> <!-- the middle pos of servo, for tt02: 87, for hsp: ? -->
		<param name="AngleGain" value="4.5"/> <!-- for tt02: >0, for hsp: <0 -->

		<!-- remap from="/odometry/filtered" to="odom" / -->
		<remap from="/move_base_node/NavfnROS/plan" to="/move_base/NavfnROS/plan" />
	</node>

	<node pkg="race" type="controller" output="screen" name="control"/>

	<node pkg="rosbag" type="record" name="rosbag_record_standard_data" respawn="true" output="screen"
		  args="chatter cmd_vel drive_pwm scan imu -o /home/cyber-physical/Documents/logs/"/>

</launch>