<launch>
	<arg name="IS_TWISTSTAMPED" default="true"/>
	<arg name="publish_covariance" default="false"/>

	<param name="/use_sim_time" value="true"/>
	<param name="/stamped_vel" value="$(arg IS_TWISTSTAMPED)"/>

	<!-- <node name="dist_finder" pkg="race" type="dist_finder.py" output="screen"/> -->
	<node name="scans_demo" pkg="rosbag" type="play" output="screen"
		  args="-r 1 -s 2 -u 100 --clock /home/aswerdlow/Documents/logs/_2018-07-26-15-49-45.bag"/>

	<!-- Robot_Localization 73-77-->
	<node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
		<rosparam command="load" file="$(find robot_localization)/params/ukf_template.yaml"/>
	</node>

	<node pkg="path_control" type="highlevel_dummy" name="highlevel_dummy" output="screen" respawn="true">
		<param name="target_speed" value="1.0"/>
		<param name="failure_mode" value="replan"/>
		<remap from="rviz_goal" to="/move_base_simple/goal"/>
	</node>

	<include file="$(find navigation_launch)/launch/navigation.launch">
		<arg name="use_laser_obstacles" value="true"/>

		<arg name="use_karto" value="false"/>
		<arg name="use_karto_segmented" value="false"/>
		<arg name="use_amcl" value="false"/>
		<arg name="use_hector" value="true"/>

		<arg name="use_planner_cost" value="false"/>
		<arg name="use_planner_dynamic" value="false"/>
		<arg name="use_planner_static" value="false"/>
		<arg name="use_planner_goal" value="false"/>
		<arg name="use_planner_default" value="true"/>

	</include>

	<param name="path_follower/local_planner/algorithm" value="NULL"/>
	<node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 /map /odom 10"/>
	<!--	<node pkg="tf" type="static_transform_publisher" name="base_to_map" args="0 0 0 0 0 0 /base_link /map 100"/> -->

	<!-- <node pkg="tf" type="static_transform_publisher" name="imu_to_base"
		  args="0.19685 0 0 0 0 0 /base_imu_link /base_link 10"/> -->

	<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser"
		  args="-0.03175 0.0 0.0 -1.57079633 0.0 0.0 /base_link /laser 10"/>
	<!--Localization using Laser Scan Matcher
	<group if="$(arg publish_covariance)">
		<param name="laser_scan_matcher_node/do_compute_covariance" value="1"/>
		<param name="laser_scan_matcher_node/publish_pose_with_covariance" value="true"/>
		<param name="laser_scan_matcher_node/publish_pose_with_covariance_stamped" value="true"/>
	</group>
	<node pkg="laser_scan_matcher" type="laser_scan_matcher_node"
		  name="laser_scan_matcher_node" output="screen">
		<remap from="imu" to="imu/data"/>
		<param name="use_odom" value="false"/>
		<param name="max_iterations" value="10"/>
	</node> -->
	<!-- <node name="map_to_scanner_base" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 map robot"/> -->
	<include file="$(find obstacle_detector)/launch/demo.launch"/>

	<node pkg="rviz" type="rviz" name="rviz1" args="-d $(find hector_mapping)/rviz_cfg/mapping_demo.rviz"/>

	<!--<node name="rviz" pkg="rviz" type="rviz" output="screen"
		  args="-d $(find obstacle_detector)/resources/obstacle_detector.rviz"/> -->
	<!--<node pkg="rviz" type="rviz" name="rviz" args="-d $(find laser_scan_matcher)/demo/demo.rviz"/> -->

	<!--<node pkg="rqt_graph" type="rqt_graph" name="rqt_graph"/> -->

</launch>
