<launch>

	<include file="$(find race)/launch/rf2o_config.launch"/>

	<node pkg="robot_localization" type="ukf_localization_node" name="ukf_se" clear_params="true">
		<rosparam command="load" file="$(find race)/params/ukf_params.yaml"/>
	</node>

	<include file="$(find race)/launch/gmapping.launch"/>

	<node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
		<param name="SBPLLatticePlanner/primitive_filename" value="$(find race)/params/traxxas.mprim"/>
		<param name="base_global_planner" value="SBPLLatticePlanner"/>
		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
		<rosparam file="$(find race)/params/local_costmap_params.yaml" command="load"/>
		<rosparam file="$(find race)/params/global_costmap_params.yaml" command="load"/>
		<rosparam file="$(find race)/params/move_base_params.yaml" command="load"/>
		<rosparam file="$(find race)/params/teb_local_planner_params.yaml" command="load"/>
		<rosparam file="$(find race)/params/sbpl.yaml" command="load"/>
	</node>

	<node pkg="race" type="controller" output="screen" name="control"/>

	<!--<node pkg="rosbag" type="record" name="rosbag_record_standard_data" respawn="true" output="screen"
		  args="cmd_vel chatter drive_pwm -o /home/cyber-physical/Documents/logs/"/> -->

</launch>